$primary: #2563eb;
$primary-darken: #2563EBFF;
$primary-lighten: #F9FAFBFF;
$primary-light: #c7d2fe;
$primary-bg: #eef2ff;

$bg-dark: #080610;
$bg-light: #f9fafb;
$text: #333;
$border: #e5e7eb;
$heading: #1f2937;
$content: #e0eeff;

$shadow-light: rgba(0, 0, 0, 0.05);
$shadow-hover: rgba(0, 0, 0, 0.08);
